body {
  background-color: rgb(11, 11, 11);
  color: rgb(191, 191, 191);
  font-size: 11px;
  font-family: Arial, sans-serif;
  line-height: 1.43;
}

a, a:visited {
  color: rgb(181, 84, 24);
}

a:hover {
  color: rgb(153, 61, 4);
}

.md a:visited {
  color: rgb(110, 135, 47);
}

.md a[href="#s"]::after {
  background-color: rgb(24, 136, 136);
  color: rgb(24, 136, 136);
  border-color: rgb(75, 176, 176);
}

.md a[href="#s"]:hover::after, .md a[href="#s"]:focus::after, .md a[href="#s"]:active::after {
  color: rgb(191, 191, 191);
  background-color: rgb(0, 28, 28);
}

.link .usertext .md pre, .link .usertext .md code {
  background-color: rgb(0, 0, 0);
}

pre, code {
  border-color: rgb(51, 51, 51);
  color: rgb(204, 204, 204);
}

/*
 * Header:
 */
#header {
  background-color: rgb(0, 0, 0);
}

/*
 * Header -> Subverse List
 */
#sr-header-area {
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(35, 35, 35);
}

.sr-list li a {
  color: rgb(181, 84, 24);
}

.drop-arrow {
  border-top-color: rgb(181, 84, 24);
}


#sr-bar li a {
  color: rgb(126, 126, 126);
}

#sr-header-area:hover #sr-bar li a {
  color: rgb(187, 187, 187);
}

#sr-more-link {
  background-color: rgb(0, 0, 0);
  color: rgb(187, 187, 187);
}

#sr-more-link:hover {
  background-color: rgb(181, 84, 24);
  color: rgb(0, 0, 0);
}

/*
 * Header -> Subverse List -> Subscription Dropdown
 */
.whoaSubscriptionMenu li ul {
  border-color: rgb(18, 18, 18);
  border-top-color: rgb(0, 0, 0);
  box-shadow: 3px 3px 3px rgba(0,0,0,.2)
}

.whoaSubscriptionMenu li ul li a:link, .whoaSubscriptionMenu li ul li a:visited {
  background-color: rgb(0, 0, 0);
  border-bottom-color: rgb(18, 18, 18);
  color: rgb(187, 187, 187);
}

.whoaSubscriptionMenu li ul li a:hover {
  background: -webkit-linear-gradient(top,
  rgb(171, 74, 14),
  rgb(181, 84, 24));
  color: rgb(0, 0, 0) !important;
}


/*
 * Header -> Subverse Header
 */
#header-container {
  background-color: rgb(0, 0, 0);
  border-bottom-color: rgb(35, 35, 35);
  border-top-color: rgb(35, 35, 35);
}

.pagename a {
  color: rgb(165, 165, 165);
}

.pagename a:hover {
  color: rgb(181, 84, 24);
}

/*
 * Header -> Subverse Header -> Menu
 */
.tabmenu li.selected a {
  background: -webkit-linear-gradient(top,
  rgb(0, 0, 0),
  rgb(5, 5, 5));
  border-color: rgb(47, 47, 47);
  color: rgb(187, 187, 187);
}

.tabmenu li.selected a:hover {
  color: rgb(181, 84, 24);
}

.tabmenu li.disabled a {
  background-color: transparent;
  border-color: transparent;
  color: rgb(170, 170, 170);
}

.tabmenu li.disabled a:hover {
  background: -webkit-linear-gradient(top,
  rgb(0, 0, 0),
  rgb(5, 5, 5));
  border-color: rgb(47, 47, 47);
  color: rgb(187, 187, 187);
}

.tabmenu li.disabled a.contribute {
  background: -webkit-linear-gradient(top,
  rgb(68, 26, 0),
  rgb(89, 34, 0));
  border-color: rgb(143, 72, 28);
  color: rgb(212, 184, 167);
}

.tabmenu li.disabled a.contribute:hover {
  background: -webkit-linear-gradient(top,
  rgb(88, 33, 0),
  rgb(110, 42, 0));
  border-color: rgb(158, 80, 31);
  color: rgb(212, 184, 167);
}

/**
 * Header -> Subverse Header -> Menu (Mobile)
 */
@media (max-width: 700px) {
  .tabmenu li.selected a {
    background: -webkit-linear-gradient(top,
    rgb(7, 7, 7),
    rgb(13, 13, 13));
    border-color: rgb(69, 69, 69);
    box-shadow: 0 1px 0 rgba(0,0,0,.35);
    color: rgb(187, 187, 187);
  }

  .tabmenu li.disabled a {
    background: -webkit-linear-gradient(top,
    rgb(0, 0, 0),
    rgb(4, 4, 4));
    border-color: rgb(47, 47, 47);
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    color: rgb(187, 187, 187);
  }

  .tabmenu li.disabled a:hover {
    background: -webkit-linear-gradient(top,
    rgb(0, 0, 0),
    rgb(5, 5, 5));
    border-color: rgb(47, 47, 47);
    color: rgb(187, 187, 187);
  }
}

/*
 * Header -> Subverse Header -> Account Info
 */
.logged-in,
.logged-out {
  background-color: rgb(9, 9, 9);
  border-color: rgb(35, 35, 35);
}

@media (max-width: 870px) {
  .logged-in,
  .logged-out {
    background-color: transparent;
    border-color: transparent;
  }
}

#header-account a {
  color: rgb(170, 170, 170);
}

#header-account a:hover,
#header-account .logged-out a {
  color: rgb(181, 84, 24);
}

.user .userkarma {
  border-bottom-color: rgb(102, 102, 102);
}

.user .upvoatsGiven a {
  color: rgb(181, 84, 24) !important;
  border-bottom-color: gray;
}

/**
 * Header -> Mobile Menu Button
 */
#show-menu-button::before {
  border-color: rgb(191, 191, 191);
}

/**
 * Main Content
 */
#container {
  background-color: rgb(0, 0, 0);
  border-color: rgb(46, 46, 46);
  color: inherit;
}

/**
 * Sidebar
 */
.side {
  background-color: transparent;
  color: inherit;
}

/* Form Control (Search, Chat) */
.form-control {
  background-color: rgb(0, 0, 0);
  border-color: rgb(52, 52, 52);
  color: rgb(183, 183, 183);
}

.field-validation-error {
  color: rgb(0, 190, 201);
}

.btn-whoaverse.contribute {
  background: -webkit-linear-gradient(top,
  rgb(68, 26, 0),
  rgb(89, 34, 0));
  border-color: rgb(143, 72, 28);
  color: rgb(212, 184, 167);
}

.btn-whoaverse.contribute:hover {
  background: -webkit-linear-gradient(top,
  rgb(88, 33, 0),
  rgb(110, 42, 0));
  border-color: rgb(158, 80, 31);
  color: rgb(212, 184, 167);
}

/**
 * Sidebar
 */
.side {
  color: inherit;
}

.titlebox h1 a {
  color: inherit;
}

.titlebox h1 a:hover {
  color: rgb(181, 84, 24);
}

.titlebox .btn-unsub.btn-whoaverse-paging {
  background: -webkit-linear-gradient(top,
  rgb(7, 7, 7),
  rgb(15, 15, 15));
  border-color: rgb(54, 54, 54);
  color: rgb(165, 165, 165);
}

.btn-unsub:hover,
.btn-unsub:active,
.btn-unsub:focus {
  background: -webkit-linear-gradient(top,
  rgb(59, 72, 0),
  rgb(66, 81, 0)),
  border-color: rgb(100, 122, 0);
  color: rgb(164, 185, 65);
}

.btn-whoaverse-paging {
  background: -webkit-linear-gradient(top,
  rgb(68, 26, 0),
  rgb(89, 34, 0));
  border-color: rgb(143, 72, 28);
  color: rgb(212, 184, 167);
}

.btn-whoaverse-paging:hover {
  background: -webkit-linear-gradient(top,
  rgb(88, 33, 0),
  rgb(110, 42, 0));
  border-color: rgb(158, 80, 31);
  color: rgb(212, 184, 167);
}

.btn-whoaverse-paging:focus {
  color: rgb(0, 0, 0);
}

.titlebox .subscribers {
  color: inherit;
}

.titlebox .users-online {
  color: inherit;
}

/**
 * Sidebar -> Description
 */
.titlebox .usertext-body {
  color: inherit;
}

/**
 * Sidebar -> Status
 */
.titlebox .bottom {
  border-top-color: rgb(42, 42, 42);
  color: rgb(127, 127, 127);
}

/**
 * Sidebar -> Header
 */
.sidecontentbox .alert-h1 {
  color: rgb(181, 84, 24);
  border-bottom-color: rgb(34, 34, 34);
}

/**
 * Sidebar -> Moderator List, Chat
 */
.sidecontentbox .content {
  background-color: rgb(3, 3, 3);
  border-color: rgb(27, 27, 27);
}

/**
 * Sidebar -> Box (chat, announcements)
 */
.side .spacer.spacersection {
  background-color: rgb(2, 2, 2);
  border-color: rgb(44, 44, 44);
  color: inherit;
}

/**
 * Footer
 */
.bottommenu {
  color: rgb(146, 146, 146);
}







/**
 * Links
 */

.even {
  background-color: rgb(7, 7, 7);
}

/**
 * Links -> Submission
 */
.arrow-downvote,
.arrow-downvoted,
.arrow-upvote,
.arrow-upvoted,
.comment .arrow-downvote,
.comment .arrow-downvoted,
.comment .arrow-upvote,
.comment .arrow-upvoted {
  background-image: url('http://voat.co/Graphics/Dark-SpriteSheet.png');
}

.link score.likes {
  color: rgb(181, 84, 24);
}

.link score.dislikes {
  color: rgb(119, 143, 0);
}

.link score.unvoted {
  color: rgb(68, 68, 68);
}

.thumbnail {
  border-color: #000;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: rgb(181, 84, 24);
}

/**
 * Links -> Submission -> Title
 */
.link a.title {
  color: rgb(181, 181, 181);
}

.link a.title:visited {
  color: rgb(110, 135, 47);
}

.link a.title:hover {
  color: rgb(181, 84, 24);
}

.domain {
  color: rgb(153, 153, 153);
}

.domain a {
  color: rgb(119, 119, 119);
}

.domain a:hover {
  color: rgb(181, 84, 24);
}

.promoted {
  background-color: rgb(93, 146, 6);
  border-color: rgb(124, 167, 52);
  color: rgb(0, 0, 0);
}

/**
 * Links -> Submission -> Tagline
 */
.expando-button.selftext.collapsed,
.expando-button.selftext.collapsed:hover,
.expando-button.selftext.expanded,
.expando-button.selftext.expanded:hover {
  background-image: url('http://voat.co/Graphics/Dark-SpriteSheet.png');
}

.tagline {
  color: rgb(143, 143, 143);
}

.tagline a {
  color: rgb(181, 84, 24);
}

.tagline a:visited {
  color: rgb(170, 170, 170);
}
.tagline a:hover {
  color: rgb(188, 102, 50);
}


.link a.author,
.link a.author:visited {
  color: rgb(188, 102, 50);
}

.link a.author:hover {
  color: rgb(181, 84, 24);
}

.link a.subverse:visited,
.link a.subverse {
  color: rgb(146, 146, 146);
}

.link a.subverse:hover {
  color: rgb(181, 84, 24);
}

.tagline .post_upvotes {
  color: rgb(181, 84, 24);
}

.tagline .post_downvotes {
  color: rgb(119, 143, 0);
}

/**
 * Links -> Submission -> Buttons
 */
.link .flat-list li a {
  color: rgb(149, 149, 149);
}

@media (max-width: 550px) {
  .link .flat-list.buttons li a {
    background-color: black;
    border-color: rgb(33, 33, 33);
  }
}

/*
 * Links -> Next/Previous Buttons
 */
.pagination-container .btn-whoaverse-paging {
  background: -webkit-linear-gradient(top,
  rgb(68, 26, 0),
  rgb(89, 34, 0));
  border-color: rgb(143, 72, 28);
  color: rgb(212, 184, 167);
}

/*
 * Comments
 */

/*
 * Comments - Self Text
 */
.link .usertext .md {
  background-color: rgb(7, 7, 7);
  border-color: rgb(46, 46, 46)d;
  color: inherit;
}

/*
 * Comments - Comment Form
 */
.markdownEditorImgButton {
  background-color: rgb(10, 10, 10);
  background-image: url('http://voat.co/Graphics/markdownEditorSprite.png');
  border-color: rgb(127, 127, 127);
}

.markdownEditorSubMenu {
  border-color: rgb(127, 127, 127);
}

.commenttextarea {
  background-color: rgb(0, 0, 0);
  border-color: rgb(52, 52, 52);
  color: rgb(204, 204, 204);
}

form input.btn-whoaverse-paging {
  background: -webkit-linear-gradient(top,
  rgb(68, 26, 0),
  rgb(89, 34, 0));
  border-color: rgb(143, 72, 28);
  color: rgb(212, 184, 167);
}

form input.btn-whoaverse-paging:hover {
  background: -webkit-linear-gradient(top,
  rgb(88, 33, 0),
  rgb(110, 42, 0));
  border-color: rgb(158, 80, 31);
  color: rgb(212, 184, 167);
}

.titlebox .btn-whoaverse-paging:focus {
  color: rgb(0, 0, 0);
}

.horizontal-line {
  border-bottom-color: rgb(22, 22, 22);
}

.menuarea .label,
.menuarea .label-default {
  background-color: rgb(34, 34, 34);
  color: rgb(170, 170, 170);
}

/**
 * Comments -> Comment
 */
.comment .comment {
  border: 1px solid rgb(46, 46, 46);
}

.comment a.expand {
  color: rgb(85, 85, 85);
}

.comment .collapsed a {
  color: rgb(119, 119, 119);
}

.comment a.expand:hover {
  color: rgb(170, 170, 170);
}

.comment a.author,
.comment a.author:visited {
  color: rgb(181, 84, 24);
}

.comment a.submitter {
  color: rgb(119, 143, 0);
}

/* TODO: separate styles for comment taglines */

/**
 * Comments -> Comment -> Buttons
 */
.comment .flat-list li a {
  color: rgb(149, 149, 149);
}

@media (max-width: 550px) {
  .comment .flat-list.buttons li a {
    background-color: black;
    border-color: rgb(33, 33, 33);
  }
}

/**
 * Comments -> Comment (even layer)
 * Should be same as #container
 */
.comment .comment .comment, .comment .comment .comment .comment .comment, .comment .comment .comment .comment .comment .comment .comment, .comment .comment .comment .comment .comment .comment .comment .comment .comment, .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: rgb(0, 0, 0);
}

.comment .comment .comment blockquote, .comment .comment .comment .comment .comment blockquote, .comment .comment .comment .comment .comment .comment .comment blockquote, .comment .comment .comment .comment .comment .comment .comment .comment .comment blockquote, .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment blockquote {
  background-color: rgb(10, 10, 10);
}

/**
 * Comments -> Comment (odd layer)
 */
.comment .comment, .comment .comment .comment .comment, .comment .comment .comment .comment .comment .comment, .comment .comment .comment .comment .comment .comment .comment .comment, .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: rgb(7, 7, 7);
}

.comment .comment blockquote, .comment .comment .comment .comment blockquote, .comment .comment .comment .comment .comment .comment blockquote, .comment .comment .comment .comment .comment .comment .comment .comment blockquote, .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment blockquote {
  background-color: rgb(0, 0, 0);
}

/**
 * Comments -> Comment
 */
.md blockquote {
  background-color: rgb(10, 10, 10);
  border-color: rgb(23, 23, 23) e8e8e8 e8e8e8 dbdbdb;
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
}

/**
 * Comments -> Preview
 */
.panel {
  background-color: rgb(0, 0, 0);
}

.panel-default {
  border-color: rgb(34, 34, 34);
}

.panel-heading, .panel-info>.panel-heading, .panel-default>.panel-heading {
  background: -webkit-linear-gradient(top,
  rgb(17, 17, 17),
  rgb(23, 23, 23));
  border-color: rgb(41, 41, 41);
  color: rgb(204, 204, 204);
}

/**
 * Comments -> Load More
 */
.btn-whoaverse {
  background: -webkit-linear-gradient(top,
  rgb(2, 2, 2),
  rgb(8, 8, 8));
  border-color: rgb(46, 46, 46);
}
.btn-whoaverse,
a.btn-whoaverse {
  color: rgb(179, 179, 179);
}

btn-whoaverse:hover {
  background: -webkit-linear-gradient(top,
  rgb(7, 7, 7),
  rgb(13, 13, 13));
  border-color: rgb(51, 51, 51);
  color: rgb(187, 187, 187);
}

/**
 * TODO: Modal Dialogs
 */

/**
 * TODO: first-time alert on comments page
 */
