body.$theme {
  background-color: $bg;
  color: $text;
  font-size: 11px;
  font-family: Arial, sans-serif;
  line-height: 1.43;
}

body.$theme a:not(.btn-tour):not(.contribute),
body.$theme a:not(.btn-tour):not(.contribute):visited {
  color: $a;
}

body.$theme a:not(.btn-tour):not(.contribute):hover {
  color: $a-hover;
}

body.$theme .md a:visited {
  color: $a-visited;
}

body.$theme .md a[href="#s"]::after {
  background-color: $spoiler-bg;
  color: $spoiler-bg;
  border-color: $spoiler-border;
}

body.$theme .md a[href="#s"]:hover::after,
body.$theme .md a[href="#s"]:focus::after,
body.$theme .md a[href="#s"]:active::after {
  color: $text;
  background-color: $spoiler-reveal-bg;
}

body.$theme .link .usertext .md pre,
body.$theme .link .usertext .md code,
body.$theme pre,
body.$theme code {
  background-color: $code-bg;
  border-color: $code-border;
  color: $text-alt1;
}

/*
 * Header:
 */
body.$theme #header {
  background-color: $header-bg;
}

/*
 * Header -> Subverse List
 */
body.$theme #sr-header-area {
  background-color: $header-bg;
  border-bottom: 1px solid $header-border;
}

body.$theme .sr-list li a {
  color: $a-darker;
}

body.$theme .drop-arrow {
  border-top-color: $a-darker;
}

body.$theme #sr-bar li a {
  color: $header-bar-link;
}

body.$theme #sr-header-area:hover #sr-bar li a {
  color: $header-text;
}

body.$theme #sr-more-link {
  background-color: $header-bg;
  color: $header-text;
}

body.$theme #sr-more-link:hover {
  background-color: $header-more-bg;
  color: $header-more;
}

/*
 * Header -> Subverse List -> Subscription Dropdown
 */
body.$theme .whoaSubscriptionMenu li ul {
  border-color: $header-border-alt1;
  border-top-color: $header-bg;
  box-shadow: 3px 3px 3px rgba(0,0,0,.2)
}

body.$theme .whoaSubscriptionMenu li ul li a:link,
body.$theme .whoaSubscriptionMenu li ul li a:visited {
  background-color: $header-bg;
  border-bottom-color: $header-border-alt2;
  color: $header-text;
}

body.$theme .whoaSubscriptionMenu li ul li a:hover {
  background: -webkit-linear-gradient(top, $a-subverse-highlight-bg,
  $a-subverse-highlight-bg-gradient);
  color: $a-subverse-highlight !important;
}

/*
 * Header -> Subverse Header
 */
body.$theme #header-container {
  background-color: $header-bg;
  border-bottom-color: $header-border;
  border-top-color: $header-border;
}

body.$theme .pagename a {
  color: $header-subverse-title;
}

body.$theme .pagename a:hover {
  color: $a-alt1;
}

/*
 * Header -> Subverse Header -> Menu
 */
body.$theme .tabmenu li.selected a:not(.contribute) {
  background: -webkit-linear-gradient(top,$header-button-selected-bg,
  $header-button-selected-bg-gradient);
  border-color: $header-button-selected-border;
  color: $header-text;
}

body.$theme .tabmenu li.selected a:not(.contribute):hover {
  color: $header-button-selected-hover;
}

body.$theme .tabmenu li.disabled a {
  background-color: $header-button-bg;
  border-color: $header-button-border;
  color: $header-button;
}

body.$theme .tabmenu li.disabled a:hover {
  background: -webkit-linear-gradient(top,$header-button-selected-bg,
  $header-button-selected-bg-gradient);
  border-color: $header-button-selected-border;
  color: $header-text;
}

body.$theme .tabmenu li.disabled a.contribute {
  background: -webkit-linear-gradient(top,$header-button-contribute-bg,
  $header-button-contribute-bg-gradient);
  border-color: $header-button-contribute-border;
  color: $header-button-contribute;
}

body.$theme .tabmenu li.disabled a.contribute:hover {
  background: -webkit-linear-gradient(top,$header-button-contribute-bg-hover,
  $header-button-contribute-bg-hover-gradient);
  border-color: $header-button-contribute-border-hover;
  color: $header-button-contribute-hover;
}

/**
 * Header -> Subverse Header -> Menu (Mobile)
 */
@media (max-width: 700px) {
  body.$theme .tabmenu li.selected a {
    background: -webkit-linear-gradient(top,$header-button-selected-mobile-bg,
    $header-button-selected-mobile-bg-gradient);
    border-color: $header-button-selected-mobile-border;
    box-shadow: 0 1px 0 rgba(0,0,0,.35);
    color: $header-text;
  }

  body.$theme .tabmenu li.disabled a {
    background: -webkit-linear-gradient(top,$header-button-selected-bg,
    $header-button-selected-bg-gradient);
    border-color: $header-button-selected-border;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    color: $header-text;
  }

  body.$theme .tabmenu li.disabled a:hover {
    background: -webkit-linear-gradient(top,$header-button-selected-bg,
    $header-button-selected-bg-gradient);
    border-color: $header-button-selected-border;
    color: $header-text;
  }
}

/*
 * Header -> Subverse Header -> Account Info
 */
body.$theme .logged-in,
body.$theme .logged-out {
  background-color: $header-login-bg;
  border-color: $header-border;
}

@media (max-width: 870px) {
  body.$theme .logged-in,
  body.$theme .logged-out {
    background-color: $header-login-bg-mobile;
    border-color: $header-login-border-mobile;
  }
}

body.$theme #header-account a {
  color: $header-login-a;
}

body.$theme #header-account a:hover,
body.$theme #header-account .logged-out a {
  color: $a-alt1;
}

body.$theme .user .userkarma {
  border-bottom-color: $header-underline;
}

body.$theme .user .upvoatsGiven a {
  color: rgba(74, 171, 231, 1) !important;
  border-bottom-color: gray;
}

/**
 * Header -> Mobile Menu Button
 */
body.$theme #show-menu-button::before {
  border-color: $mobile-menu-border;
}

/**
 * Main Content
 */
body.$theme #container {
  background-color: $container-bg;
  border-color: $container-border;
  color: $container-text;
}

/**
 * Sidebar
 */
body.$theme .side {
  background-color: $side-bg;
  color: $side;
}

/* Form Control (Search, Chat) */
body.$theme .form-control {
  background-color: $form-control-bg;
  border-color: $container-border-alt1;
  color: $text-alt2;
}

body.$theme .form-control:focus {
  border-color: $container-focus-border;
}

body.$theme .form-control::-moz-placeholder {
  color: $form-control-placeholder;
}
body.$theme .form-control:-ms-input-placeholder {
  color: $form-control-placeholder;
}
body.$theme .form-control::-webkit-input-placeholder {
  color: $form-control-placeholder;
}

body.$theme .field-validation-error {
  color: $error;
}

body.$theme .btn-whoaverse.contribute {
  background: -webkit-linear-gradient(top,$button-contribute-bg,
  $button-contribute-bg-gradient);
  border-color: $button-contribute-border;
  color: $button-contribute;
}

body.$theme .btn-whoaverse.contribute:hover {
  background: -webkit-linear-gradient(top,$button-contribute-bg-hover,
  $button-contribute-bg-hover-gradient);
  border-color: $button-contribute-border-hover;
  color: $button-contribute-hover;
}

body.$theme .titlebox h1 a {
  color: $side-title;
}

body.$theme .titlebox h1 a:hover {
  color: $side-title-hover;
}

body.$theme .titlebox .btn-unsub.btn-whoaverse-paging {
  background: -webkit-linear-gradient(top,$button-unsub-bg,
  $button-unsub-bg-gradient);
  border-color: $button-unsub-border;
  color: $button-unsub;
}

body.$theme .btn-whoaverse-paging:focus,
body.$theme .titlebox .btn-whoaverse-paging:focus {
  color: $button-contribute-hover;
}

body.$theme .btn-unsub:hover,
body.$theme .btn-unsub:active,
body.$theme .btn-unsub:focus {
  background: -webkit-linear-gradient(top,$button-unsub-bg-hover,
  $button-unsub-bg-hover-gradient);
  border-color: $button-unsub-border-hover;
  color: $button-unsub-hover;
}

body.$theme .btn-whoaverse-paging {
  background: -webkit-linear-gradient(top,$button-paging-bg,
  $button-paging-bg-gradient);
  border-color: $button-paging-border;
  color: $button-paging;
}

body.$theme .btn-whoaverse-paging:hover {
  background: -webkit-linear-gradient(top,$button-paging-bg-hover,
  $button-paging-bg-hover-gradient);
  border-color: $button-paging-border-hover;
  color: $button-paging-hover;
}

body.$theme .titlebox .subscribers {
  color: inherit;
}

body.$theme .titlebox .users-online {
  color: inherit;
}

/**
 * Sidebar -> Description
 */
body.$theme .titlebox .usertext-body {
  color: $side;
}

/**
 * Sidebar -> Status
 */
body.$theme .titlebox .bottom {
  border-top-color: $side-border-inner;
  color: $side-status;
}

/**
 * Sidebar -> Header
 */
body.$theme .alert-h2,
body.$theme .sidecontentbox .alert-h1 {
  color: $side-header;
  border-bottom-color: $side-header-underline;
}

/**
 * Sidebar -> Moderator List, Chat
 */
body.$theme .sidecontentbox .content {
  background-color: $side-content-bg;
  border-color: $side-content-border;
}

/**
 * Sidebar -> Box (chat, announcements)
 */
body.$theme .side .spacer.spacersection {
  background-color: $side-box-bg;
  border-color: $side-box-border;
  color: $side-box;
}

@media (max-width: 870px) {
  body.$theme .side {
    background-color: $container-bg;
  }
}

/**
 * Footer
 */
body.$theme .bottommenu {
  color: $footer;
}

body.$theme .bottommenu a {
  color: inherit;
}

/**
 * Links
 */

body.$theme .even {
  background-color: $container-bg-alt2;
}

/**
 * Links -> Submission
 */
body.$theme .arrow-downvote,
body.$theme .arrow-downvoted,
body.$theme .arrow-upvote,
body.$theme .arrow-upvoted {
  background-image: url('http://voat.co/Graphics/Light-SpriteSheet.png');
}

body.$theme .link score.likes {
  color: $link-upvotes;
}

body.$theme .link score.dislikes {
  color: $link-downvotes;
}

body.$theme .link score.unvoted {
  color: $link-unvoted;
}

body.$theme .thumbnail {
  border-color: $container-bg;
}

body.$theme a.thumbnail:hover,
body.$theme a.thumbnail:focus,
body.$theme a.thumbnail.active {
  border-color: $a-alt1;
}

/**
 * Links -> Submission -> Title
 */
body.$theme .link a.title,
body.$theme .link a.title.may-blank {
  color: $link-title;
}

body.$theme .link a.title:visited,
body.$theme .link a.title.may-blank:visited {
  color: $a-visited;
}

body.$theme .link a.title:hover {
  color: $a;
}

body.$theme .domain {
  color: $link-domain;
}

body.$theme .domain a {
  color: $link-domain-a;
}

body.$theme .domain a:hover {
  color: $a-alt1;
}

body.$theme .submission.stickied a.title,
body.$theme .submission.stickied a.title:visited,
body.$theme .submission.stickied a.title.visited {
  color: $sticky-title;
}

body.$theme .promoted {
  background-color: $sticky-bg;
  border-color: $sticky-border;
  color: $sticky;
}

/**
 * Links -> Submission -> Tagline
 */
body.$theme .expando-button.selftext.collapsed,
body.$theme .expando-button.selftext.collapsed:hover,
body.$theme .expando-button.selftext.expanded,
body.$theme .expando-button.selftext.expanded:hover {
  background-image: url('http://voat.co/Graphics/Light-SpriteSheet.png');
}

body.$theme .tagline {
  color: $tagline;
}

body.$theme .tagline a {
  color: $a;
}

body.$theme .tagline a:visited {
  color: $tagline-a-visited;
}
body.$theme .tagline a:hover {
  color: $tagline-a-hover;
}


body.$theme .link a.author,
body.$theme .link a.author:visited {
  color: $tagline-a-hover;
}

body.$theme .link a.author:hover {
  color: $a-author-hover;
}

body.$theme .link a.subverse:visited,
body.$theme .link a.subverse {
  color: $link-subverse;
}

body.$theme .link a.subverse:hover {
  color: $link-subverse-hover;
}

body.$theme .tagline .post_upvotes {
  color: $link-upvotes;
}

body.$theme .tagline .post_downvotes {
  color: $link-downvotes;
}

/**
 * Links -> Submission -> Buttons
 */
body.$theme .link .flat-list li a {
  color: $link-button;
}

@media (max-width: 550px) {
  body.$theme .link .flat-list.buttons li a {
    background-color: $container-bg;
    border-color: $link-button-border-mobile;
  }
}

/*
 * Links -> Next/Previous Buttons
 */
body.$theme .pagination-container .btn-whoaverse-paging {
  background: -webkit-linear-gradient(top,$button-paging-bg,
  $button-paging-bg-gradient);
  border-color: $button-paging-border;
  color: $button-paging;
}

/*
 * Comments
 */

/*
 * Comments - Self Text
 */
body.$theme .link .usertext .md {
  background-color: $container-bg-alt2;
  border-color: $container-border-alt4;
  color: $container-text;
}

/*
 * Comments - Comment Form
 */
body.$theme .markdownEditorImgButton,
body.$theme .markdownEditorTextButton {
  background-color: $container-bg-alt1 !important;
  border-color: $container-border-alt2;
}

body.$theme .markdownEditorSubMenu {
  border-color: $container-border-alt2;
}

body.$theme .commenttextarea {
  background-color: $comment-textarea-bg;
  border-color: $comment-textarea-border;
  color: $comment-textarea-text;
}

body.$theme form input.btn-whoaverse-paging {
  background: -webkit-linear-gradient(top,$button-paging-bg,
  $button-paging-bg-gradient);
  border-color: $button-paging-border;
  color: $button-paging;
}

body.$theme form input.btn-whoaverse-paging:hover {
  background: -webkit-linear-gradient(top,$button-paging-bg-hover,
  $button-paging-bg-hover-gradient);
  border-color: $button-paging-border-hover;
  color: $button-paging-hover;
}

body.$theme .horizontal-line {
  border-bottom-color: $container-border-alt3;
}

body.$theme .menuarea .label,
body.$theme .menuarea .label-default {
  background-color: $label-bg;
  color: $label;
}

/**
 * Comments -> Comment
 */
body.$theme .comment .comment {
  border: 1px solid $container-border;
}

body.$theme .comment .arrow-downvote,
body.$theme .comment .arrow-downvoted,
body.$theme .comment .arrow-upvote,
body.$theme .comment .arrow-upvoted {
  background-image: url('http://voat.co/Graphics/Light-SpriteSheet.png');
}

body.$theme .comment a.expand,
body.$theme .comment .collapsed {
  color: $comment-expander;
}

body.$theme .comment .collapsed a {
  color: $comment-collapsed-a;
}

body.$theme .comment a.expand:hover {
  color: $tagline-off;
}

body.$theme .comment a.author,
body.$theme .comment a.author:visited {
  color: $a;
}

body.$theme .comment a.submitter {
  color: $submitter;
}

/* TODO: separate styles for comment taglines */

/**
 * Comments -> Comment -> Buttons
 */
body.$theme .comment .flat-list.buttons li a {
  color: $comment-button;
}

@media (max-width: 550px) {
  body.$theme .comment .flat-list.buttons li a {
    background-color: $container-bg;
    border-color: $link-button-border-mobile;
  }
}

/**
 * Comments -> Comment (even layer)
 */
body.$theme .comment .comment .comment,
body.$theme .comment .comment .comment .comment .comment,
body.$theme .comment .comment .comment .comment .comment .comment .comment,
body.$theme .comment .comment .comment .comment .comment .comment .comment .comment .comment,
body.$theme .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: $container-bg;
}

body.$theme .comment .comment .comment blockquote,
body.$theme .comment .comment .comment .comment .comment blockquote,
body.$theme .comment .comment .comment .comment .comment .comment .comment blockquote,
body.$theme .comment .comment .comment .comment .comment .comment .comment .comment .comment blockquote,
body.$theme .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment blockquote {
  background-color: $container-bg-alt3;
}

/**
 * Comments -> Comment (odd layer)
 */
body.$theme .comment .comment,
body.$theme .comment .comment .comment .comment,
body.$theme .comment .comment .comment .comment .comment .comment,
body.$theme .comment .comment .comment .comment .comment .comment .comment .comment,
body.$theme .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: $container-bg-alt4;
}

body.$theme .comment .comment blockquote,
body.$theme .comment .comment .comment .comment blockquote,
body.$theme .comment .comment .comment .comment .comment .comment blockquote,
body.$theme .comment .comment .comment .comment .comment .comment .comment .comment blockquote,
body.$theme .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment blockquote {
  background-color: $container-bg-alt5;
}

/**
 * Comments -> Comment
 */
body.$theme .md blockquote {
  background-color: $container-bg-alt3;
  border-color: $container-border-alt5,
  $container-border-alt5,
  $container-border-alt5,
  $quote-border;
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
}

/**
 * Comments -> Preview
 */
body.$theme .panel {
  background-color: $container-bg;
}

body.$theme .panel-default {
  border-color: $panel-border;
}

body.$theme .panel-heading,
body.$theme .panel-info>.panel-heading,
body.$theme .panel-default>.panel-heading {
  background: -webkit-linear-gradient(top,$panel-header-bg,
  $panel-header-bg-gradient);
  border-color: $panel-header-border;
  color: $panel;
}

/**
 * Comments -> Load More
 */
body.$theme .btn-whoaverse {
  background: -webkit-linear-gradient(top,$load-more-bg,
  $load-more-bg-gradient);
  border-color: $container-border;
}

body.$theme .btn-whoaverse,
body.$theme a.btn-whoaverse {
  color: $load-more;
}

body.$theme .btn-whoaverse:hover {
  background: -webkit-linear-gradient(top,$load-more-bg-hover,
  $load-more-bg-hover-gradient);
  border-color: $load-more-border-hover;
  color: $load-more-hover;
}

@IF_MATERIAL
@media (min-width: 1000px) {
  body.$theme .side {
    padding-top: 0;
    padding-right: 0;
  }

  body.$theme .side .spacer,
  body.$theme .side .spacer.spacersection {
    margin: 10px 0;
    border: 0;
    background-color: $container-bg;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 10px;
  }

  body.$theme .side .spacer:first-child {
    margin-top: 0;
  }

  body.$theme .commentarea {
    border: 0;
    background-color: inherit;
  }

  body.$theme #container {
    background-color: $bg;
    border-color: transparent;
    padding: 0;
  }

  body.$theme .content .sitetable.linklisting,
  body.$theme .content .sitetable.linklisting .even {
    background-color: $container-bg;
  }

  body.$theme .content .sitetable.linklisting {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  }

  body.$theme .link {
    border-bottom: 1px solid $bg;
  }

  body.$theme .commentarea .entry {
    background-color: $container-bg !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    border-radius: 2px !important;
    padding: 4px 8px;
    margin-bottom: 2px;
  }

  body.$theme .comment .comment {
    background: transparent !important;
    border: none;
    border-radius: 0;
    border-left: 1px solid $container-border;
    padding: 0 0 0 4px;
    margin-top: 12px;
    margin-bottom: 8px;
  }

  body.$theme .comment.thread .comment.child {
    margin-left: 30px;
  }

  body.$theme .tabmenu li.disabled a,
  body.$theme .tabmenu li.disabled a:hover,
  body.$theme .tabmenu li.selected a,
  body.$theme .tabmenu li.selected a:hover,
  body.$theme a.contribute,
  body.$theme a.contribute:hover,
  body.$theme button.contribute,
  body.$theme button.contribute:hover,
  body.$theme button.btn-whoaverse-paging,
  body.$theme button.btn-whoaverse-paging:hover,
  body.$theme button.btn-default,
  body.$theme button.btn-default:hover,
  body.$theme button.btn-unsub,
  body.$theme button.btn-unsub:hover,
  body.$theme button.btn-sub,
  body.$theme button.btn-sub:hover,
  body.$theme .btn-whoaverse-paging,
  body.$theme .btn-whoaverse-paging:hover {
    border-color: transparent !important;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-radius: 3px !important;
    text-transform: uppercase;
  }

  body.$theme .side a.btn-whoaverse.contribute,
  body.$theme .side a.btn-whoaverse.contribute:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
  }

  /* Color selected button like header contribute buttons to highlight it. */
  body.$theme .tabmenu li.selected a {
    background: $header-button-contribute-bg !important;
    color: $header-button-contribute !important;
  }

  body.$theme .tabmenu li.selected a:hover {
    background: $header-button-contribute-bg-hover !important;
    color: $header-button-contribute-hover !important;
  }
}
@ENDIF_MATERIAL

/**
 * TODO: Modal Dialogs
 * TODO: Announcements
 */

